*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow: hidden;
}
.encabezado{
    width: 100%;
    background: rgba(18, 28, 161, 0.534);
    height: 40px;
    padding: 30px;
    display: flex;
}
.encabezado div img{
    width: 90px;
    
}
.exit{
    font-size: 50px;
    margin-left: 750px;
    
}
.exit input{
    background: rgba(18, 28, 161, 0.534);
    border: none;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 100px;
    border: black solid 2px;
}

.datos{
    display: flex;
    width: 100%;
}
.datos div{
    margin-left: 250px;
    margin-top: 15px;
    background: rgba(243, 241, 240, 0.87);
    padding: 10px;
    border:  rgba(18, 28, 161, 0.534) 2px solid;
    
}
.datos div *{
    margin: 3px;
}

h3{
    margin-top: 25px;
    text-align: center;
}
footer{
    width: 100%;
    background: black;
    color: white;
    border-top: rgba(18, 28, 161, 0.534) 5px solid;
    padding: 10px;
    



}
.otroi{
    display: flex;
    margin-top: 10px;
}
.otroi p{
    margin-left: 10px;
}

.facebook{
    font-size: 40px;
}
.fopa{
    display: flex;
}
.fo1{
    margin-left: 150px;
}
.fo1 p{
    margin-top: 5px;
}
.fo2{
    margin-left: 150px;
}
.fo2 p{
    margin-top: 3px;
}
.fo2 h5{
    margin-top: 10px;
}
.fo3{
    margin-left: 150px;
}
.fo4{
    margin-left: 150px;
}
.segui1 i{
    margin-left: 15px;
}
.segui2 i{
    margin-left: 15px;
    
}
.segui2{
    margin-left: 25px;
}
.imgfooter{
    display: flex;
    padding-left: 360px;
    margin-top: 20px;
    
}
.imgfooter img{
    width: 130px;
    height: 50px;
    margin-left: 20px;
}
.footerp{
    display: flex;
    margin-top: 15px;
    padding-left: 110px;
}
.footerp p{
    margin-left: 20px;
}

