*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{

    overflow-x: hidden;
    
}
.clienteC{
    width: 200px;

    
}
.mision{
    background: url(../imagenes/feria.jpg);
    background-size: cover;

}
.vision{
    background: url(../imagenes/mexico.jpg);
    background-size: cover;

}
.quienes{
    width: 600px;
    height: 300px;
    padding: 10px;
    overflow: hidden;
}
.quienes h4{
    background: rgba(101, 3, 116,.8);
    color: white;
    font-weight: bold;
    margin-top: 310px;
    transition: .5s;
    
}
.quienes p{
    background: rgba(101, 3, 116,.8);
    color: white;
    font-weight: bold;
    height: 280px;
    margin-top: 310px;
    transition: .5s;
}
.quienes:hover .misi{
    margin-top: 10px;
}
.quienes:hover .textoq{
    margin-top: 10px;

}
.historias{
    margin-left: 160px;
    margin-top: 20px;
    width: 1040px;
    border: rgba(101, 3, 116,.8) solid 2px;
    padding: 10px;
}





.capas{
    width:100%;
    height: 400px;
    background: rgba(101, 3, 116,.8);
    position: absolute;
    top: 0;
    left: 0;
  


}
.imagen1{
    width: 100%;
    height: 400px;
    position: relative;
}
.tituloo{
    position: absolute;
    color: white;
    margin-top: 195px;
    margin-left: 550px;    
    
}
.navegacion{
    display: flex;
    justify-content: center;
   
}
.navegacion li{
    list-style: none;
    margin-left: 50px;
}
.navegacion li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 19px;
}
.paubicanos{
    display: flex;
}
.hiubicanos1 {
    padding: 10px;
}

.hiubicanos1 h4{
    margin-top: 20px;
}
.face{
    width: 70px;
    margin-top: 60px;
    margin-left: 35px;
}

.paquienes div{
    margin-top: 20px;
    width: 500px;
    margin-left: 20px;
}
.paquienes{
    display: flex;
    margin-left: 140px;
}
.paquienes div img{
    width: 100%;
    height: 100%;
}

.paquienes div p{
    font-size: 19px;
}
h1{
    text-align: center;
}
.iniciar{
    margin-left: 600px;
    width: 200px;
    display: block;
    justify-content: center;
    
    
}
.p2ubicanos {
    margin-left: 150px;
}
.p2ubicanos h3{
    margin-top: 60px;
}
.iconos form{
    margin-top: 20px;
}
.correosconta{
    margin-top: 20px;
}
.mapa{
    margin-left: 20px;
    margin-top: 20px;
    border: rgba(101, 3, 116) solid 3px;
    
    width: 600px;
    

}
.mensajein{
    margin: 20px;
    width: 150px;
    border: rgba(101, 3, 116) solid 2px;
    height: 25px;
    
}
.mensajeta{
    margin-left: 20px;
    max-width: 350px;
    width: 350px ;
    min-width: 350px;
    border: rgba(101, 3, 116) solid 2px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
.mensajesub{
    margin-top: 10px;
    margin-left: 20px;
    width: 360px;
    height: 35px;
    border: none;
    background:rgba(101, 3, 116) ;
    color: white;
    cursor: pointer;
}
.mensajesub:hover{
    background: black;
}
.lmapa{
    width: 600px;
    margin-left: 20px;
}
.iniciar input{
    margin: 5px;
}
.iniciar label{
    text-align: center;
}
.envio{
margin-left: 10px;
background: rgba(101, 3, 116);
color: white;
border: none;
width: 73%;
cursor: pointer;
}

.envio:hover{
    background: black;
}
.envior{
    margin-left: 10px;
    background: rgba(101, 3, 116);
    color: white;
    border: none;
    cursor: pointer;
}

.envior:hover{
    background: black;
}
.recargat{
    text-align: center;
    margin: 20px;
}
.formtar{
    width: 400px;
    margin-left: 500px;
}
.inputrecarga{
    width: 400px;
    margin: 10px;
}
.enviarrecarga{
    border: none;
    background: rgb(101, 3, 116);
    width: 405px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
}
.enviarrecarga:hover{
    background: black;
}
.Cantidad_tickest{
    width: 250px;
    height: 35px;
    margin-top: 15px;
    margin-left: 12px;

}
.sumarestas{
    width: 40px;
    margin-left: 20px;
    height: 35px;
    background: rgb(101, 3, 116);
    color:white;
    border: none;
    cursor: pointer;
}
.sumarestas:hover{
    background: black;
}
.papacontador{
    width: 200px;
    height: 140px;
    border: rgb(101, 3, 116) solid 2px;
    margin-top: 40px;
    margin-left: 580px;
}
.minicontador{
    margin: 10px;
    background: rgb(101, 3, 116);
    color: white;
    height: 120px;
}
.ncontador{
    text-align: center;
    font-size: 100px;
}
footer{
    width: 100%;
    background: black;
    color: white;
    border-top: rgb(101, 3, 116) solid 5px;
    padding: 10px;
    margin-top: 300px;
    



}
.otroi{
    display: flex;
    margin-top: 10px;
}
.otroi p{
    margin-left: 10px;
}

.facebook{
    font-size: 40px;
}
.fopa{
    display: flex;
}
.fo1{
    margin-left: 150px;
}
.fo1 p{
    margin-top: 5px;
}
.fo2{
    margin-left: 150px;
}
.fo2 p{
    margin-top: 3px;
}
.fo2 h5{
    margin-top: 10px;
}
.fo3{
    margin-left: 150px;
}
.fo4{
    margin-left: 150px;
}
.segui1 i{
    margin-left: 15px;
}
.segui2 i{
    margin-left: 15px;
    
}
.segui2{
    margin-left: 25px;
}
.imgfooter{
    display: flex;
    padding-left: 360px;
    margin-top: 20px;
    
}
.imgfooter img{
    width: 130px;
    height: 50px;
    margin-left: 20px;
}
.footerp{
    display: flex;
    margin-top: 15px;
    padding-left: 110px;
}
.footerp p{
    margin-left: 20px;
}
h2{
    margin-left: 20px;
}

.somoshidden{
    position: absolute;
    top:710px;
    background: green;
    visibility: hidden;
}
.imgfo{
    position: absolute;
    top: 3210px;
}
.imgfo img{
    width: 1345px;
    height: 190px;
}