*{
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Slabo 27px', serif;
}
html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
}
.clienteC{
    width: 200px;

    
}
.mision{
    background: url(../imagenes/feria.jpg);
    background-size: cover;
    margin-left: -10%;

}
.vision{
    background: url(../imagenes/mexico.jpg);
    background-size: cover;
    margin-left: -20%;

}
.quienes{
    width: 600px;
    height: 300px;
    padding: 10px;
    overflow: hidden;
}
.quienes h4{
    background: rgba(101, 3, 116,.8);
    color: white;
    font-weight: bold;
    margin-top: 310px;
    transition: .5s;
    
    
}
.quienes p{
    background: rgba(101, 3, 116,.8);
    color: white;
    font-weight: bold;
    height: 280px;
    margin-top: 310px;
    transition: .5s;
}
.quienes:hover .misi{
    margin-top: 10px;
}
.quienes:hover .textoq{
    margin-top: 10px;

}
.historias{
    margin-left: 160px;
    margin-top: 20px;
    width: 1040px;
    border: rgba(101, 3, 116,.8) solid 2px;
    padding: 10px;
}

.capas{
    width:100%;
    height: 340px;
    background: rgba(101, 3, 116,.8);
    position: absolute;
    top: 0;
    left: 0;
}
.capa{
    background: rgba(101, 3, 116,.8);
}
.ir-arriba{
    display: none;
    padding: 20px;
    font-size: 35px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;

}


.inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 70px;
}

.imagen1{
    width: 100%;
    height: 340px;
    position: relative;
}
.tituloo{
    position: absolute;
    color: white;  
    z-index: 10;  
    top:50%;
    left:35%;
    font-size: 350%;
}

.loading {
    width:150px;
    height:150px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-75px;
    margin-left:-75px;
  }
  
  .loading .block {
    width:40px;
    height:40px;
    /*border:5px solid #fff;*/
    position:absolute;
  }
  
  .loading .block:nth-child(1) {
    animation: top-left 3s infinite;
    background-color:#00a9cfd0 ;
  }
  
  .loading .block:nth-child(2) {
    animation: top-right 3s infinite;
    background-color:#cd74f6cb ;
  }
  
  .loading .block:nth-child(3) {
    animation: bottom-left 3s infinite;
    background-color:#525dfcc7 ;
  }
  
  .loading .block:nth-child(4) {
    animation: bottom-right 3s infinite;
    background-color:#ac10acd3 ;
  }
  @-webkit-keyframes top-left {
    0%  { left: 25px; top:25px; }
    25% { left: 75px; top:25px; transform: rotate(90deg) }
    50% { left: 75px; top: 75px; transform: rotate(180deg) }
    75% { left: 25px; top: 75px; transform: rotate(270deg) }
    100%  { left: 25px; top: 25px; transform: rotate(360deg) }
  }
  @-webkit-keyframes top-right {
    0% { left: 75px; top: 25px; }
    25% { left: 75px; top: 75px; }
    50% { left: 25px; top: 75px; }
    75%  { left: 25px; top: 25px; }
    100% { left: 75px; top: 25px; }
  }
  @-webkit-keyframes bottom-left {
    0% { left: 75px; top: 75px; }
    25% { left: 25px; top: 75px; transform: rotate(90deg) }
    50%  { left: 25px; top: 25px; transform: rotate(180deg) }
    75%  { left: 75px; top: 25px; transform: rotate(270deg) }
    100% { left: 75px; top: 75px; transform: rotate(360deg) }
  } 
  @-webkit-keyframes bottom-right {
    0% { left: 25px; top: 75px; }
    25%   { left: 25px; top: 25px; }
    50% { left: 75px; top: 25px; }
    75% { left: 75px; top: 75px; }
    100% { left: 25px; top: 75px; }
  }
  


.navegacion{
    display: flex;
    justify-content: center;
   
}
.navegacion li{
    list-style: none;
    margin-left: 50px;
}
.navegacion li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 19px;
}
.paubicanos{
    display: flex;
    padding: 50px;
    
}
.hiubicanos1 {
    padding: 10px;
}

.hiubicanos1 h2{
    margin-top: -50px;
    padding: 10px;
    text-align: center;
}
.face{
    width: 70px;
    margin-top: 60px;
    margin-left: 35px;
}

.paquienes div{
    margin-top: 20px;
    width: 500px;
    margin-left: 10%;
}
.paquienes{
    display: flex;
    margin-left: 0px;
}
.paquienes div img{
    width: 100%;
    height: 100%;
}

.paquienes div p{
    font-size: 19px;
}
h1{
    text-align: center;
}
.iniciar{
    width: 250px;
    display: block;
    text-align: center;
    margin-left: 33%;
    margin-top: 20px;
    
}
.login{
    margin-top: -40px;
}
.user, .pass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -10%;
}
.login h1{
    margin-left: 10%;
}
.p2ubicanos {
    margin-left: 150px;
}
.p2ubicanos h3{
    margin-top: 60px;
}
.iconos form{
    margin-top: 20px;
}
.correosconta{
    margin-top: 20px;
}
.mapa{
    margin-left: 20px;
    margin-top: 20px;
    border: rgba(101, 3, 116) solid 3px;
    width: 600px;
}

.mensajein{
    margin: 20px;
    width: 150px;
    border: rgba(101, 3, 116) solid 2px;
    height: 25px;
    
}
.mensajeta{
    margin-left: 25px;
    max-width: 350px;
    width: 350px ;
    min-width: 350px;
    border: rgba(101, 3, 116) solid 2px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
.mensajesub{
    margin-top: 10px;
    margin-left: 25px;
    width: 370px;
    height: 35px;
    border: none;
    background:rgba(101, 3, 116) ;
    color: white;
    cursor: pointer;
}
.mensajesub:hover{
    background: black;
}
.lmapa{
    width: 600px;
    margin-left: 20px;
}


.input-item {
    background: rgba(172, 137, 218, 0.849);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    margin-top: 90%;
}
.form-input{
    width: 60%;
    height: 40%;
    margin-top: 9%;
    padding: 4.3px;
    font-size: 16px;
    color: #5E6472;
    background: rgba(172, 137, 218, 0.575);
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    width: 250px;
    
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.envio{
   
    width: 63%;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25%;
    display: block;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #325ebe, #af38d3, #91277f);
    background-size: 200%;
    font-size: 1rem;
    color: #fff;
    transition: .5s;
    position: relative;
    padding: 10px;
}
 
.envio:hover{
    background-position: right;
}

.envior{
    margin-left: 10px;
    background: rgba(101, 3, 116);
    color: white;
    border: none;
    cursor: pointer;
}

.envior:hover{
    background: black;
}
.recargat{
    text-align: center;
    margin: 20px;
}
.formtar{
    width: 590px;
    margin-left: 27%;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 3px;
    text-align: center;
    margin-top: -2.5%;
}
.inputrecarga{
    width: 400px;
    margin: 10px;
}
.enviarrecarga{
    border: none;
    background: rgb(101, 3, 116);
    width: 405px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
}
.enviarrecarga:hover{
    background: black;
}
.Cantidad_tickest{
    width: 250px;
    height: 35px;
    margin-top: 15px;
    margin-left: 12px;

}
.sumarestas{
    width: 40px;
    margin-left: 20px;
    height: 35px;
    background: rgb(101, 3, 116);
    color:white;
    border: none;
    cursor: pointer;
}
.sumarestas:hover{
    background: black;
}
.contador{
    margin-top: -20px;
    text-align: center;
}
.papacontador{
    width: 180px;
    height: 140px;
    border: rgb(101, 3, 116) solid 2px;
    margin-top: 20px;
    margin-left: 37%;
  
}
.minicontador{
    background: rgb(101, 3, 116);
    color: white;
    height: 120px;
    width: 150px;
    margin-top: 10px;
    margin-left: 7%;
}
.ncontador{
    text-align: center;
    font-size: 80px;
}
/* About us */

.about-us {
    padding: 20px;
    
}
.contenedor1 h1{
    font-size:40px;
}
.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
}

.articulo {
    width: 25%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px ;
    transition: 0.5s;
    text-align: center;
}

.image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
    width: 300px;
    height: 400px;
}
  
.image img{
    width: 300px;
    height: 250px;
    transition: 0.4s;
}


.image:hover img{
    transform: scale(1.4) rotate(-15deg);
}

.articulo:hover {
    box-shadow: 0 6px 10px rgb(101, 3, 116) ;
}


.articulo h3 {
    font-size: 24px;
    margin-top: 30px;
}

.recarga{
    background-image: url(../imagenes/tickets.jpg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
}


footer{
    width: 100%;
    background: black;
    color: white;
    border-top: rgb(101, 3, 116) solid 5px;
    padding: 10px;
    margin-top: 200px;
    



}
.otroi{
    display: flex;
    margin-top: 10px;
}
.otroi p{
    margin-left: 10px;
}

.facebook{
    font-size: 40px;
}
.fopa{
    display: flex;
}
.fo1{
    margin-left: 150px;
}
.fo1 p{
    margin-top: 5px;
}
.fo2{
    margin-left: 150px;
}
.fo2 p{
    margin-top: 3px;
}
.fo2 h5{
    margin-top: 10px;
}
.fo3{
    margin-left: 150px;
}
.fo4{
    margin-left: 150px;
}
.segui1 i{
    margin-left: 15px;
}
.segui2 i{
    margin-left: 15px;
    
}
.segui2{
    margin-left: 25px;
}
.imgfooter{
    display: flex;
    padding-left: 360px;
    margin-top: 20px;
    
}
.imgfooter img{
    width: 130px;
    height: 50px;
    margin-left: 20px;
}
.footerp{
    display: flex;
    margin-top: 15px;
    padding-left: 110px;
}
.footerp p{
    margin-left: 20px;
}
h2{
    margin-left: 20px;
}

.somoshidden{
    position: absolute;
    top:710px;
    background: green;
    visibility: hidden;
}
