body{
    background: rgb(94, 89, 89);
}
.rastro{
    width: 500px;
    margin: 200px auto;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgb(255, 162, 22);
    height: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
}
.logo{
    width: 100px;
    position: absolute;
    top: 100px;
    left: 635px;
}
.salir{
    color: black;
    font-size: 25px;
}
.rastr{
    width: 500px;
    margin: 100px auto;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgb(255, 162, 22);
    height: 350px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 28px 0px rgba(0,0,0,0.75);
}
.logo1{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 635px;
}