body{
    font-family:'Open Sans Condensed', sans-serif;
    background: rgba(0,0,0,0.5)
}
.contenedor_todo{
    width: 99%;
    background: black;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: 50px;
    -webkit-box-shadow: -1px 0px 22px -6px rgba(15,14,15,0.75);
-moz-box-shadow: -1px 0px 22px -6px rgba(15,14,15,0.75);
box-shadow: -1px 0px 22px -6px rgba(15,14,15,0.75);
color: white;
}
.titulo{
    grid-column-start:1;
    grid-column-end: 11;
    background: rgb(255, 162, 22);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.encabezado, .info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado{
    font-weight: bold;
    
}
.info{
    padding: 5px;
    font-family:'Open Sans Condensed', sans-serif;
    
}
.info:focus{
    outline: none;
    border: solid rgb(255, 162, 22); ;
}
.logo{
    position: absolute;
    width: 45px;
    height: 45px;
    top:117px;
    left: 80px;
}
h1{
    text-align: center;
    color: white;
    font-weight: 700;

}
.salir{
    position: absolute;
    top:30px;
    left: 1200px;
    color: rgb(255, 162, 22);
    font-size: 30px;
}
.info a{
    text-decoration: none;
    color: white;
}
.info a:hover{
    color: rgb(255, 162, 22);
}
.actualizar_estado{
    position: absolute;
    top: 212px;
    left:1250px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: rgb(255, 162, 22);
    color:white;
    border: none;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 23px;
    transition: 0.5s;
} 

.actualizar_estado:hover{
    border-radius: 10px;
    border: rgb(94, 89, 89) solid;
    width: 85px;
    height: 45px;
}